 /* label color */
   .input-field label {
     color: #e57373;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #e67373;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #e67373;
     box-shadow: 0 1px 0 0 #e67373;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #e57373;
     box-shadow: 0 1px 0 0 #e57373;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #e57373;
     box-shadow: 0 1px 0 0 #e57373;
   }
   .input-field input[type=email]:focus + label {
     color: #e67373;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #e67373;
     box-shadow: 0 1px 0 0 #e67373;
   }
   /* valid color */
   .input-field input[type=email].valid {
     border-bottom: 1px solid #e57373;
     box-shadow: 0 1px 0 0 #e57373;
   }
   /* invalid color */
   .input-field input[type=email].invalid {
     border-bottom: 1px solid #e57373;
     box-shadow: 0 1px 0 0 #e57373;
   }
   .input-field input[type=tel]:focus + label {
     color: #e67373;
   }
   /* label underline focus color */
   .input-field input[type=tel]:focus {
     border-bottom: 1px solid #e67373;
     box-shadow: 0 1px 0 0 #e67373;
   }
   /* valid color */
   .input-field input[type=tel].valid {
     border-bottom: 1px solid #e57373;
     box-shadow: 0 1px 0 0 #e57373;
   }
   /* invalid color */
   .input-field input[type=tel].invalid {
     border-bottom: 1px solid #e57373;
     box-shadow: 0 1px 0 0 #e57373;
   }
   .input-field input[type=url]:focus + label {
     color: #e67373;
   }
   /* label underline focus color */
   .input-field input[type=url]:focus {
     border-bottom: 1px solid #e67373;
     box-shadow: 0 1px 0 0 #e67373;
   }
   /* valid color */
   .input-field input[type=url].valid {
     border-bottom: 1px solid #e57373;
     box-shadow: 0 1px 0 0 #e57373;
   }
   /* invalid color */
   .input-field input[type=url].invalid {
     border-bottom: 1px solid #e57373;
     box-shadow: 0 1px 0 0 #e57373;
   }



   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #e57373;
   }