

.item-menu{
	margin-bottom: 5%;
    margin-top: 5%;
	text-align: center;
}
	  
.section {
	padding-left: 2%;
	padding-right: 2%;
	margin-bottom: 2%;
}
.info{
	margin-right: 10%;
}

.list{
	overflow: scroll;
}

.login_form{
	position: absolute;
	top:50%;
	left:50%;
	margin-left: -250px !important;
	margin-top: -125px !important; 
}