 /* label color */
   .input-field label {
     color: #795548;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #795548;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
   }
   .input-field input[type=email]:focus + label {
     color: #795548;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
   }
   /* valid color */
   .input-field input[type=email].valid {
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
   }
   /* invalid color */
   .input-field input[type=email].invalid {
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
   }
   .input-field input[type=tel]:focus + label {
     color: #795548;
   }
   /* label underline focus color */
   .input-field input[type=tel]:focus {
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
   }
   /* valid color */
   .input-field input[type=tel].valid {
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
   }
   /* invalid color */
   .input-field input[type=tel].invalid {
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
   }
   .input-field input[type=url]:focus + label {
     color: #795548;
   }
   /* label underline focus color */
   .input-field input[type=url]:focus {
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
   }
   /* valid color */
   .input-field input[type=url].valid {
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
   }
   /* invalid color */
   .input-field input[type=url].invalid {
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
   }

   .input-field textarea.materialize-textarea:focus + label {
     color: #795548;
   }
   /* label underline focus color */
   .input-field textarea.materialize-textarea:focus {
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
   }
   /* valid color */
   .input-field textarea.materialize-textarea.valid {
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
   }
   /* invalid color */
   .input-field textarea.materialize-textarea.invalid {
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
   }
   .dropdown-content li>a, .dropdown-content li>span{
	   color:#795548;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #795548;
   }